<mat-toolbar class="p-4">
  <span class="text-primary">Ver Ruta</span>
</mat-toolbar>
<div class="px-4">
  <p>{{route.id_ruta}}</p>
  <p>{{route.conductor}}</p>
  <p>{{route.fecha_entrega}}</p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Select a Driver</mat-label>
      <mat-select [(ngModel)]="selectedDriver" name="driver">
        @for (driver of drivers; track driver.value) {
          <mat-option [value]="driver.value">{{driver.label}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </p>
</div>

