<mat-toolbar class="p-4 position-sticky top-0 bg-white" style="z-index: 99;">
  <span class="text-primary">{{isEditRoute ? 'Ver y Editar' : 'Añadir'}} Ruta</span>
  <span class="spacer"></span>
  <button mat-icon-button [mat-dialog-close]="false" tabindex="99">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div class="px-4 mt-3">
  <form [formGroup]="routeForm" class="container">
    <div class="col">
      @if (!isEditRoute) {
        <div class="row">
          <div class="col-8">
            <mat-form-field appearance="outline" color="primary">
              <mat-label>Ruta a buscar</mat-label>
              <input #busquedaRuta matInput type="text" tabindex="1">
            </mat-form-field>
          </div>
          <div class="col-auto">
            <button mat-raised-button (click)="findRutaExt(busquedaRuta.value)" [disabled]="busquedaRuta.value === ''">Cargar Ruta</button>
          </div>
        </div>
        }

      <div class="">
      <mat-form-field appearance="fill" color="accent" class="disable-focus">
        <mat-label>ID Ruta</mat-label>
        <input matInput type="text" formControlName="id_ruta" placeholder="ID Ruta" readonly="true" tabindex="-1">
      </mat-form-field>
      </div>
        <div class="">
        <mat-form-field appearance="outline" tabindex="1">
          <mat-label>Select a Driver</mat-label>
          <mat-select matInput formControlName="conductor" name="driver">
            @for (driver of conductores; track driver.ID) {
              <mat-option [value]="driver">{{driver.NAME}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        </div>

        <div class="">
          <mat-form-field appearance="outline" tabindex="2">
            <mat-label>Fecha Entrega</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_entrega">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="">
        <mat-form-field appearance="outline" tabindex="3">
          <mat-label>Notas</mat-label>
          <textarea matInput formControlName="notas"></textarea>
        </mat-form-field>
        </div>

    </div>
  </form>


    <table class="shadow small-table" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="secuencia">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let orden"> {{orden.secuencia}} </td>
      </ng-container>

      <ng-container matColumnDef="id_orden">
        <th mat-header-cell *matHeaderCellDef> Orden </th>
        <td mat-cell *matCellDef="let orden"> {{ orden.id_orden }}  </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef> Valor </th>
        <td mat-cell *matCellDef="let orden"> ${{ orden.valor | number:'1.2-2' }} </td>
      </ng-container>

      <ng-container matColumnDef="prioritario">
        <th mat-header-cell *matHeaderCellDef> Prioritario </th>
        <td mat-cell *matCellDef="let orden">
          <mat-checkbox [checked]="orden.prioritario" (change)="updatePrioridad(orden)" ></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator class="shadow small-paginator" #paginator [pageSizeOptions]="[2, 5, 10, 20]" aria-label="Select page"> </mat-paginator>

    <div class="container mt-3">
      <div class="row">
          <div class="valor-total">
            <p class="fw-bold mb-0">Valor Total:</p>
            <p class="fs-5">$ {{ valorTotal | number:'1.2-2' }}</p>
          </div>

      </div>
    </div>

    <div class="row mt-1 mb-4">
      @if (isEditRoute) {
        <div class="col-auto">
          <button mat-raised-button class="bg-danger text-white" (click)="eliminarRuta()">Eliminar</button>
        </div>
      }
      <div class="col-auto ms-auto">
        <button mat-raised-button (click)="guardarRuta()">Guardar</button>
        <button mat-button class="mx-1" [mat-dialog-close]="false">Cancelar</button>
      </div>
    </div>
</div>

