.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor; /* Highlight cells on hover */
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  // cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  font-weight: bold;
}

.mat-table {
  margin-top: 50px !important;
}

.toast {
  position: fixed;
  top: 100px;
  right: 10px;
}
