<div
  class="toast align-items-center text-white bg-success border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  [class.show]="isToastVisible"
  [style.display]="isToastVisible ? 'block' : 'none'"
  [ngClass]="toastType === 'success' ? 'bg-success' : 'bg-danger'"
>
  <div class="d-flex">
    <div class="toast-body">
      {{ toastMessage }}
    </div>
    <button
      type="button"
      class="btn-close btn-close-white me-2 m-auto"
      data-bs-dismiss="toast"
      aria-label="Close"
      (click)="hideToast()"
    ></button>
  </div>
</div>

<h2>Lista de Rutas</h2>

<table class="shadow" mat-table [dataSource]="dataSource" style="width: 900px;">
  <ng-container matColumnDef="Ruta">
    <th class="" mat-header-cell *matHeaderCellDef>Ruta</th>
    <td mat-cell *matCellDef="let ruta">{{ ruta.id_ruta }}</td>
  </ng-container>

  <ng-container matColumnDef="Conductor">
    <th class="" mat-header-cell *matHeaderCellDef>Conductor</th>
    <td mat-cell *matCellDef="let ruta">{{ ruta.conductorName }}</td>
  </ng-container>

  <ng-container matColumnDef="Fecha Entrega">
    <th class="" mat-header-cell *matHeaderCellDef>Fecha Entrega</th>
    <td mat-cell *matCellDef="let ruta">
      {{ ruta.fecha_entrega | date : "yyyy-MM-dd" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Acciones">
    <th class="" mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let ruta">
      <button
        mat-icon-button
        class="border-0 bg-transparent"
        (click)="openRoute(ruta)"
      >
        <mat-icon class="text-primary">visibility</mat-icon>
      </button>
      <button
        mat-icon-button
        class="border-0 bg-transparent"
        (click)="deleteRoute(ruta.id_ruta)"
      >
        <mat-icon class="text-danger">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  class="shadow"
  #paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
>
</mat-paginator>

<br /><br />

<button mat-fab extended (click)="newRoute()">
  <mat-icon>add</mat-icon>
  Añadir Ruta
</button>
